* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--ion-color-platinum);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--ion-color-river);
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.sign-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative; 
}

ion-icon {
    color: var(--ion-color-night);
}

.icon-field {
    padding-top: 5px;
}

.icon-pwd {
    padding-top: 10px;
}

ion-item {
    border: 1px solid var(--ion-color-night);
    border-radius: 5px;
    ion-label {
        color: var(--ion-color-night) !important;
    }
    ion-input {
        color: var(--ion-color-night);
    }
}

ion-input {
    width: 100%;
    letter-spacing: 0.5px;
    font-size: 18px;
    --padding-top: 20px;
    --padding-bottom: 15px;
    --padding-start: 5px;
}

.btn-reg {
    width: 100%;
    height: 44px;
    text-transform: capitalize;
}

.sing{
    padding-top: 20px;
    color: var(--ion-color-lead);
    a {
        color: var(--ion-color-river);
        text-decoration: none;
    }
}