* {
    font-family: 'Montserrat', sans-serif;
}

ion-content {
    --background: var(--ion-color-platinum) !important;
}

ion-list {
    background-color: var(--ion-color-platinum) !important;
    ion-list-header {
        ion-label {
            font-size: 16px;
            color: var(--ion-color-night) !important;
        }
    }
    ion-radio-group {
        ion-item {
            --background: var(--ion-color-platinum) !important;
            ion-label {
                --color: var(--ion-color-night);
            }
        }
    }
}

.myColor {
    background-color: var(--ion-color-platinum);
    text-align: center;
    justify-content: center;
    align-items: center;
}